@charset "utf-8";
/* CSS Document */
/*-- 수정 */
#apply_topbanner{width:100%; background:url(../img/apply/top_back.jpg) center; margin-top:162px; display:inline-block; height:269px;}
#apply_topbanner .topbanner_wrap{width:calc(100% - 30px); max-width:1170px; margin:0 auto;}
#apply_topbanner .top_inner{width:calc(100% - 30px); max-width:570px; margin:36px auto 0 auto;}
#apply_topbanner .topbanner_wrap > .top_inner > img{float:left; vertical-align:middle; width:30%;}
#apply_topbanner .topbanner_wrap > .top_inner > ul{width:calc(70% - 15px); float:left; margin-left:15px; margin-top:10%;}
#apply_topbanner .topbanner_wrap > .top_inner > ul > li{text-align:center;}
#apply_topbanner .topbanner_wrap > .top_inner > ul > li:nth-child(1){font-size:20px; margin-bottom:15px; line-height:130%;}
#apply_topbanner .topbanner_wrap > .top_inner > ul > li:nth-child(2){font-size:17px;}


#location{width:100%; border-bottom:solid 1px #e2e2e2; }
.location_wrap{width:calc(100% - 30px); max-width:1170px; margin:0 auto; height:31px; border-left:solid 1px #e2e2e2; padding-top:15px;}
.location_wrap > ul > li{float:left; margin-left:2%; font-size:12px; color:#868686;}
.location_wrap > ul > li > img{ vertical-align:middle;}
.location_wrap > ul > li.nowpage{color:#000; font-weight:400;}

#apply{width:100%;  display:inline-block;}
#apply  .apply_wrap{width:calc(100% - 30px); max-width:1170px; margin:0 auto; }


/*----------------- list page ------------------------------*/
.apply_wrap > .title{margin-top:94px; text-align:center;}
.apply_wrap > .title > li:nth-child(1){font-size:35px; font-weight:400; text-align:center; margin-bottom:15px;}
.apply_wrap > .title > li:nth-child(2){font-size:20px; text-align:center; font-weight:300;}

.apply_wrap > .school_list{margin-top:77px;}
.apply_wrap > .school_list > li{float:left; width:calc(14.2% - 11px); text-align:center; font-weight:400; padding:0 5px;}
.apply_wrap > .school_list > li.on{color:#000;}
.apply_wrap > .school_list > li > a:link{color:#000; color:#889095;}
.apply_wrap > .school_list > li > a:visited{color:#000; color:#889095;}
.apply_wrap > .school_list > li > a:hover{color:#000; color:#000;}
.apply_wrap > .school_list > li.did{width:1px; color:#889095; font-weight:100; padding:0;}

.apply_wrap .list_wrap{width:100%; margin-top:100px; overflow:auto; clear:both;}
.apply_wrap .list_wrap > .box { position:relative; width:calc(25% - 22px); margin:40px 10px; float:left; background-color:#FFF; border:1px solid #cecece; border-top:2px solid #000;/* 원하는 너비 */}
.apply_wrap .list_wrap > .box:before { content: ""; display: block; padding-top:113%; /* 1:1 비율 */}
.apply_wrap .list_wrap > .box .content { position: absolute; top:23px; right:0; bottom:0; left:16px; width:calc(100% - 32px); height:65%; overflow:hidden; }

.apply_wrap .list_wrap > .box .content > ul.title > li:nth-child(1){width:calc(100% - 73px); text-align:left; float:left; font-size:15px; font-weight:500;}
.apply_wrap .list_wrap > .box .content > ul.title > li:nth-child(2){width:73px; text-align:right; float:left; font-size:13px; color:#696969; font-weight:400}
.apply_wrap .list_wrap > .box .content > div.line{width:100%; height:1px; background-color:#c0c0c0; float:left; margin-top:20px; margin-bottom:20px;}
.apply_wrap .list_wrap > .box .content > a > ul > li:nth-child(1){font-size:15px; color:#121212; text-align:left; margin-bottom:25px; line-height:120%; font-weight:500;}
.apply_wrap .list_wrap > .box .content > a > ul > li:nth-child(2){font-size:13px; color:#696969; text-align:left; margin-bottom:25px; line-height:120%; font-weight:500;}
a.apply_bnt{position:absolute; left:16px; bottom:10px; width:calc(100% - 32px); height:43px; background-color:#CCC; color:#fff; text-decoration:none; text-align:center; line-height:43px; display:block; font-size:13px;}

a.apply_bnt.on{background-color:#6da6df;}

.more_box{width:164px; height:44px; border:1px solid #000; text-align:center; line-height:44px; margin:119px auto 160px auto; font-size:15px; font-weight:400;}



/*----------------- read page ------------------------------*/
.apply_wrap .read_wrap .apply_title{display:inline-block; padding:5px 28px; background-color:#000; color:#fff; font-size:12px; font-weight:400; text-align:center; border-bottom:1px solid #dfdfdf; margin-top:85px;}
.apply_wrap .read_wrap ul.title_wrap > li{float:left; margin:20px 0;}
.apply_wrap .read_wrap ul.title_wrap > li:nth-child(1){width:calc(100% - 90px); text-align:left; font-size:17px; font-weight:400;}
.apply_wrap .read_wrap ul.title_wrap > li:nth-child(2){width:90px; text-align:right; font-size:15px; font-weight:400;}
hr.hr1{ border:0; width:100%;  height:1px; background:#000; background-image:linear-gradient(to right, #000, #000, #000);}
hr.hr2{ border:0; width:100%;  height:2px; background:#000; background-image:linear-gradient(to right, #000, #000, #000);}

.apply_wrap .read_wrap .addfile > li{float:left; margin:10px 0;}
.apply_wrap .read_wrap .addfile > li:nth-child(1){margin:10px 12px; font-size:15px; color:#282828; font-weight:500;}
.apply_wrap .read_wrap .addfile > li:nth-child(2){margin:10px 12px 10px 0; font-size:15px; color:#000;}
.apply_wrap .read_wrap .addfile > li:nth-child(3) > ul > li{float:left; margin-right:10px;} 
.apply_wrap .read_wrap .addfile > li:nth-child(3) > ul > li > a:link{ color:#989898; font-size:12px;}
.apply_wrap .read_wrap .addfile > li:nth-child(3) > ul > li > a:visited{ color:#989898; font-size:12px;}
.apply_wrap .read_wrap .addfile > li:nth-child(3) > ul > li > a:hover{ color:#000; font-size:12px;}

.apply_wrap .read_wrap .content_wrap{padding:30px 0;}

.apply_wrap .read_wrap .prev_wrap{width:calc(100% - 30px); padding:10px 20px; border-top:1px solid #000; border-bottom:1px solid #000;}
.apply_wrap .read_wrap .prev_wrap > ul{margin-bottom:20px;} 
.apply_wrap .read_wrap .prev_wrap > ul li{float:left;}
.apply_wrap .read_wrap .prev_wrap > ul li:nth-child(1){font-size:13px; width:calc(100% - 70px); text-align:left; color:#737373; height:15px; overflow:hidden;}
.apply_wrap .read_wrap .prev_wrap > ul li:nth-child(2){font-size:12px; width:70px; text-align:right; color:#372e29; font-weight:500;}
.apply_wrap .read_wrap .prev_wrap > ul li:nth-child(2) > img{ vertical-align:middle; margin-left:15px;}


.apply_wrap .read_wrap .next_wrap{width:calc(100% - 30px); padding:10px 20px; border-bottom:1px solid #000;}
.apply_wrap .read_wrap .next_wrap > ul{margin-bottom:20px;} 
.apply_wrap .read_wrap .next_wrap > ul li{float:left;}
.apply_wrap .read_wrap .next_wrap > ul li:nth-child(1){font-size:13px; width:calc(100% - 70px); text-align:left; color:#737373; height:15px; overflow:hidden;}
.apply_wrap .read_wrap .next_wrap > ul li:nth-child(2){font-size:12px; width:70px; text-align:right; color:#372e29; font-weight:500;}
.apply_wrap .read_wrap .next_wrap > ul li:nth-child(2) > img{ vertical-align:middle; margin-left:15px;}
a.bnt{display:block; width:100px; height:39px; text-align:center; line-height:39px; color:#fff; font-size:12px; font-weight:400; text-decoration:none; background-color:#282d31; float:left; margin:20px 0 50px 0;}
.share{margin-top:25px;}
.share > li{float:left; margin-right:15px;}
.share > li > a{width:32px; height:32px; display:block;}
.share > li:nth-child(1) > a{background:url(../img/dptnews/tweet.png);}
.share > li:nth-child(2) > a{background:url(../img/dptnews/face.png);}
.share > li:nth-child(3) > a{background:url(../img/dptnews/google.png);}
.share > li:nth-child(4) > a{background:url(../img/dptnews/kakao.png);}

.share_wrap{width:calc(100% - 120px); height:32px; float:left;}


a.apply_bnt_inside{width:150px; height:30px; display:inline-block; line-height:30px; text-align:center; text-decoration:none; color:#fff; background-color:#CCC; margin:20px auto 20px auto;}
a.apply_bnt_inside.on{background-color:#6da6df;}

@media All and (max-width:980px){
	.apply_wrap .list_wrap > .box {width:calc(33% - 22px);}
}


@media All and (max-width:768px){
	.apply_wrap .list_wrap > .box {width:calc(50% - 22px);}
}


@media All and (max-width:640px){
	#apply_topbanner{width:100%; background:url(../img/apply/top_back.jpg) center;   margin-top:123px; display:inline-block; height:269px;}
	.apply_wrap > .school_list > li{float:left; width:calc(25% - 11px); text-align:center; font-weight:400; padding:0 5px; margin-bottom:15px; font-size:15px;}
	
	
	ul.card{width:100%; max-width:354px; float:none; margin:0 auto 3% auto;}
	ul.card > li:nth-child(1){height:259px;}
	ul.card > li:nth-child(2){ background-color:#f4f4f4; text-align:center; padding:11% 5%;}
	ul.card > li:nth-child(2) > ul > li:nthc-child(1){font-size:20px;}
	ul.card > li:nth-child(2) > ul > li:nthc-child(2){font-size:15px;}
	ul.card3{margin-bottom:0;}
	
	#apply_topbanner .topbanner_wrap > .top_inner > ul > li:nth-child(1){font-size:17px; margin-bottom:15px; line-height:130%;}
    #apply_topbanner .topbanner_wrap > .top_inner > ul > li:nth-child(2){font-size:14px;}
}

@media All and (max-width:480px){
	#apply_topbanner .topbanner_wrap > .top_inner > img{margin-top:50px;}
	.apply_wrap > .school_list > li{float:left; width:calc(33% - 11px); text-align:center; font-weight:400; padding:0 5px; margin-bottom:15px; font-size:13px;}
	
	.apply_wrap .list_wrap > .box {width:calc(100% - 22px); margin:20px 10px;}
	.apply_wrap .list_wrap > .box:before { content: ""; display: block; padding-top:113%; /* 1:1 비율 */}
}

@media All and (max-width:375px){
    .apply_wrap > .school_list > li{float:left; width:calc(33% - 11px); text-align:center; font-weight:400; padding:0 5px; margin-bottom:15px; font-size:12px; letter-spacing:-5;}
}