@charset "utf-8";
/* CSS Document */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
caption, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
	font-size:100%;
	text-decoration:none;
}

tbody, tfoot, thead, tr, th, td{margin: 0;
    padding: 0;
	font-size:100%;
	text-decoration:none;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
	line-height: 1;
	font-family: 'Roboto', 'Noto Sans KR', sans-serif;
	font-weight:300;
	line-height:120%;
	overflow-x:hidden;
	height:100%;
}

ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a {
	cursor:pointer;
}

a:link{color:#000;}
a:visited{color:#000;}
a:hover{color:#000;}



input[type=text],
input[type=tel],
input[type=email],
input[type=password] {
  -webkit-border-radius: 0;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
}


textarea{
  -webkit-border-radius: 0;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
}




