@charset "utf-8";
/* CSS Document */

#curriculum{width:100%;}
.curri_wrap{width:calc(100% - 30px); max-width:1170px; text-align:center; margin:0 auto; margin-top:9%;}
.curri_wrap > .title > li:nth-child(1){font-size:35px; font-weight:400; line-height:120%;}
.curri_wrap > .title > li:nth-child(2){font-size:20px; font-weight:300;}

.table_title{width:100%; text-align:left; font-size:20px; font-weight:500; margin-top:12%;}
.table_wrap{width:100%; overflow:auto; clear:both; margin-top:66px;}

.table_wrap > .cur_title{ float:left; width:193px; margin-top:88px;}
.table_wrap > .cur_title > li{ text-align:left; font-size:17px; height:29px; margin-bottom:46px;}


.table_wrap > .cur_table{position:relative;  float:left; width:calc(100% - 193px); max-width:977px; margin-top:88px; margin-bottom:12%;}
.cur_table  .table_set > li{height:29px; background-color:#f1f2f2; width:100%; margin-bottom:46px;}
.cur_table  .table_set > li > .cul{height:29px; width:100px; background-color:#e2e5e5; position:relative;}
.cur_table  .table_set > li > .cul > p{position:absolute; top:29px; color:#898989; font-size:15px;}

.cur_table  .table_set > li:nth-child(1) > .cul{width:100%; max-width:24%;}
.cur_table  .table_set > li:nth-child(2) > .cul{width:100%; max-width:24%;}
.cur_table  .table_set > li:nth-child(3) > .cul{width:100%; max-width:35%; margin-left:19%;}
.cur_table  .table_set > li:nth-child(4) > .cul{width:100%; max-width:36%; margin-left:57%;}


.month{position:absolute; text-align:center; z-index:1; top:-80px;}
.month > li:nth-child(1){font-size:40px; text-align:center; width:18px; font-weight:200; margin-bottom:27px;}
.month > li:nth-child(2){width:18px; height:320px; text-align:center;}
.month > li:nth-child(2) > div{width:1px; background-color:#d0d1d1; height:320px; display:inline-block;}

.cur_table > ul.month1{left:6%;}
.cur_table > ul.month2{left:44%;}
.cur_table > ul.month3{left:82%;}

@media All and (max-width:640px){
	
	.topbanner_wrap > .top_inner > ul > li:nth-child(1){font-size:17px; margin-bottom:15px; line-height:130%; margin-left:15px;}
    .topbanner_wrap > .top_inner > ul > li:nth-child(2){font-size:14px;}
	
	.table_wrap > .cur_title{ float:left; width:170px; margin-top:88px;}
    .table_wrap > .cur_title > li{ text-align:left; font-size:15px; height:29px; margin-bottom:46px;}
	.table_wrap > .cur_table{position:relative;  float:left; width:calc(100% - 170px); max-width:977px; margin-top:88px;}
	.cur_table  .table_set > li > .cul > p{position:absolute; top:29px; color:#898989; font-size:12px; width:120%;}
	
	.table_title{width:100%; text-align:center; font-size:20px; font-weight:500; margin-top:25%;}
}


@media All and (max-width:425px){
     .table_wrap > .cur_title{ float:left; width:100px; margin-top:88px;}
    .table_wrap > .cur_title > li{ text-align:left; font-size:14px; height:29px; margin-bottom:46px;}
	.table_wrap > .cur_table{position:relative;  float:left; width:calc(100% - 120px); max-width:977px; margin-top:88px; margin-left:20px;}
}

@media All and (max-width:375px){
	.table_wrap > .cur_title{ float:left; width:90px; margin-top:88px;}
	.table_wrap > .cur_title > li{ text-align:left; font-size:14px; height:29px; margin-bottom:46px;}
	.table_wrap > .cur_table{position:relative;  float:left; width:calc(100% - 110px); max-width:977px; margin-top:88px; margin-left:20px;}
}

@media All and (max-width:320px){
	.table_wrap > .cur_title{ float:left; width:70px; margin-top:88px;}
	.table_wrap > .cur_title > li{ text-align:left; font-size:14px; height:29px; margin-bottom:46px;}
	.table_wrap > .cur_table{position:relative;  float:left; width:calc(100% - 90px); max-width:977px; margin-top:88px; margin-left:20px;}
}