@charset "utf-8";
/* CSS Document */

#dpt_topbanner{width:100%; background:url(../img/dptnews/top_back.jpg) center; margin-top:162px; display:inline-block; height:269px;}
#dpt_topbanner .topbanner_wrap{width:calc(100% - 30px); max-width:1170px; margin:0 auto;}
#dpt_topbanner .top_inner{width:calc(100% - 30px); max-width:570px; margin:56px auto 0 auto; display:block;}
#dpt_topbanner .topbanner_wrap > .top_inner > ul{width:100%; float:left;}
#dpt_topbanner .topbanner_wrap > .top_inner > ul > li{text-align:center;}
#dpt_topbanner .topbanner_wrap > .top_inner > ul > li:nth-child(1){font-size:23px; margin-bottom:15px; line-height:130%;}
#dpt_topbanner .topbanner_wrap > .top_inner > ul > li:nth-child(2){font-size:20px;}


#location{width:100%; border-bottom:solid 1px #e2e2e2; }
.location_wrap{width:calc(100% - 30px); max-width:1170px; margin:0 auto; height:31px; border-left:solid 1px #e2e2e2; padding-top:15px;}
.location_wrap > ul > li{float:left; margin-left:2%; font-size:12px; color:#868686;}
.location_wrap > ul > li > img{ vertical-align:middle;}
.location_wrap > ul > li.nowpage{color:#000; font-weight:400;}

#dptnews{width:100%; background-color:#f1f1f1;  display:inline-block;}
#dptnews  .dptnews_wrap{width:calc(100% - 30px); max-width:1170px; margin:0 auto; }


/*----------------- list page ------------------------------*/
.dptnews_wrap .sel_wrap{margin:101px auto 0 auto; width:calc(100% - 60px); max-width:314px; }
select::-ms-expand{display:none;} /*-- ie 화살표 지우기 --*/
.dptnews_wrap .sel_dpt{width:100%; border:none; box-shadow:none; appearance:none; -moz-appearance:none; -webkit-appearance:none; font-size:23px; background-color:transparent; padding:18px 29px; font-weight:400; background:url(../img/dptnews/sel_arrow.jpg) right no-repeat; font-family:'Noto Sans KR';
}
.dptnews_wrap .ment{margin-top:46px; font-size:15px; font-weight:400; width:100%; text-align:center; color:#000;}


.dptnews_wrap .list_wrap{width:100%; margin-top:100px; overflow:auto; clear:both;}
.dptnews_wrap .list_wrap > .box { position:relative; width:calc(25% - 22px); margin:40px 10px; float:left; background-color:#FFF; border:1px solid #cecece; border-top:2px solid #000;/* 원하는 너비 */}
.dptnews_wrap .list_wrap > .box:before { content: ""; display: block; padding-top:113%; /* 1:1 비율 */}
.dptnews_wrap .list_wrap > .box .content { position: absolute; top:23px; right:0; bottom:0; left:16px; width:calc(100% - 32px); height:80%; overflow:hidden; }

.dptnews_wrap .list_wrap > .box .content > ul.title > li:nth-child(1){width:calc(100% - 73px); text-align:left; float:left; font-size:15px; font-weight:500;}
.dptnews_wrap .list_wrap > .box .content > ul.title > li:nth-child(2){width:73px; text-align:right; float:left; font-size:13px; color:#696969; font-weight:400}
.dptnews_wrap .list_wrap > .box .content > div.line{width:100%; height:1px; background-color:#c0c0c0; float:left; margin-top:20px; margin-bottom:20px;}
.dptnews_wrap .list_wrap > .box .content > a > ul > li:nth-child(1){font-size:15px; color:#121212; text-align:left; margin-bottom:25px; line-height:120%; font-weight:500;}
.dptnews_wrap .list_wrap > .box .content > a > ul > li:nth-child(2){font-size:13px; color:#696969; text-align:left; margin-bottom:25px; line-height:120%; font-weight:500;}

.more_box{width:164px; height:44px; border:1px solid #000; text-align:center; line-height:44px; margin:119px auto 160px auto; font-size:15px; font-weight:400;}



/*----------------- read page ------------------------------*/
.dptnews_wrap .read_wrap .dpt_title{display:inline-block; padding:5px 28px; background-color:#FFF; font-size:12px; font-weight:400; text-align:center; border-bottom:1px solid #dfdfdf; margin-top:85px;}
.dptnews_wrap .read_wrap ul.title_wrap > li{float:left; margin:20px 0;}
.dptnews_wrap .read_wrap ul.title_wrap > li:nth-child(1){width:calc(100% - 90px); text-align:left; font-size:17px; font-weight:400;}
.dptnews_wrap .read_wrap ul.title_wrap > li:nth-child(2){width:90px; text-align:right; font-size:15px; font-weight:400;}
hr.hr1{ border:0; width:100%;  height:1px; background:#000; background-image:linear-gradient(to right, #000, #000, #000);}
hr.hr2{ border:0; width:100%;  height:2px; background:#000; background-image:linear-gradient(to right, #000, #000, #000);}

.dptnews_wrap .read_wrap .addfile > li{float:left; margin:10px 0;}
.dptnews_wrap .read_wrap .addfile > li:nth-child(1){margin:10px 12px; font-size:15px; color:#282828; font-weight:500;}
.dptnews_wrap .read_wrap .addfile > li:nth-child(2){margin:10px 12px 10px 0; font-size:15px; color:#000;}
.dptnews_wrap .read_wrap .addfile > li:nth-child(3) > ul > li{float:left; margin-right:10px;} 
.dptnews_wrap .read_wrap .addfile > li:nth-child(3) > ul > li > a:link{ color:#989898; font-size:12px;}
.dptnews_wrap .read_wrap .addfile > li:nth-child(3) > ul > li > a:visited{ color:#989898; font-size:12px;}
.dptnews_wrap .read_wrap .addfile > li:nth-child(3) > ul > li > a:hover{ color:#000; font-size:12px;}

.dptnews_wrap .read_wrap .content_wrap{padding:30px 0;}

.dptnews_wrap .read_wrap .prev_wrap{width:calc(100% - 30px); padding:10px 20px; border-top:1px solid #000; border-bottom:1px solid #000;}
.dptnews_wrap .read_wrap .prev_wrap > ul{margin-bottom:20px;} 
.dptnews_wrap .read_wrap .prev_wrap > ul li{float:left;}
.dptnews_wrap .read_wrap .prev_wrap > ul li:nth-child(1){font-size:13px; width:calc(100% - 70px); text-align:left; color:#737373; height:15px; overflow:hidden;}
.dptnews_wrap .read_wrap .prev_wrap > ul li:nth-child(2){font-size:12px; width:70px; text-align:right; color:#372e29; font-weight:500;}
.dptnews_wrap .read_wrap .prev_wrap > ul li:nth-child(2) > img{ vertical-align:middle; margin-left:15px;}


.dptnews_wrap .read_wrap .next_wrap{width:calc(100% - 30px); padding:10px 20px; border-bottom:1px solid #000;}
.dptnews_wrap .read_wrap .next_wrap > ul{margin-bottom:20px;} 
.dptnews_wrap .read_wrap .next_wrap > ul li{float:left;}
.dptnews_wrap .read_wrap .next_wrap > ul li:nth-child(1){font-size:13px; width:calc(100% - 70px); text-align:left; color:#737373; height:15px; overflow:hidden;}
.dptnews_wrap .read_wrap .next_wrap > ul li:nth-child(2){font-size:12px; width:70px; text-align:right; color:#372e29; font-weight:500;}
.dptnews_wrap .read_wrap .next_wrap > ul li:nth-child(2) > img{ vertical-align:middle; margin-left:15px;}
a.bnt{display:block; width:100px; height:39px; text-align:center; line-height:39px; color:#fff; font-size:12px; font-weight:400; text-decoration:none; background-color:#282d31; float:left; margin:20px 0 50px 0;}
.share{margin-top:25px;}
.share > li{float:left; margin-right:15px;}
.share > li > a{width:32px; height:32px; display:block;}
.share > li:nth-child(1) > a{background:url(../img/dptnews/tweet.png);}
.share > li:nth-child(2) > a{background:url(../img/dptnews/face.png);}
.share > li:nth-child(3) > a{background:url(../img/dptnews/google.png);}
.share > li:nth-child(4) > a{background:url(../img/dptnews/kakao.png);}

.share_wrap{width:calc(100% - 120px); height:32px; float:left;}

@media All and (max-width:980px){
	.dptnews_wrap .list_wrap > .box {width:calc(33% - 22px);}
}


@media All and (max-width:768px){
	.dptnews_wrap .list_wrap > .box {width:calc(50% - 22px);}
}


@media All and (max-width:640px){
	#dpt_topbanner{width:100%; background:url(../img/dptnews/top_back.jpg) center;   margin-top:123px; display:inline-block; height:269px;}
	
	ul.card{width:100%; max-width:354px; float:none; margin:0 auto 3% auto;}
	ul.card > li:nth-child(1){height:259px;}
	ul.card > li:nth-child(2){ background-color:#f4f4f4; text-align:center; padding:11% 5%;}
	ul.card > li:nth-child(2) > ul > li:nthc-child(1){font-size:20px;}
	ul.card > li:nth-child(2) > ul > li:nthc-child(2){font-size:15px;}
	ul.card3{margin-bottom:0;}
	
	#dpt_topbanner .topbanner_wrap > .top_inner > ul > li:nth-child(1){font-size:17px; margin-bottom:15px; line-height:130%;}
    #dpt_topbanner .topbanner_wrap > .top_inner > ul > li:nth-child(2){font-size:14px;}
}

@media All and (max-width:480px){
	.dptnews_wrap .list_wrap > .box {width:calc(100% - 22px); margin:20px 10px;}
	.dptnews_wrap .list_wrap > .box:before { content: ""; display: block; padding-top:90%; /* 1:1 비율 */}
}

@media All and (max-width:375px){
	#philos1 > .philos_wrap .title > li:nth-child(2){font-size:13px; color:#000; margin-bottom:11.3%;}
    #philos1 > .philos_wrap .title > li:nth-child(3){font-size:25px; color:#000; font-weight:400; line-height:125%;}

   #philos2 > .philos_wrap .title{width:100%;  margin-top:8%; display:inline-block; text-align:left; }
   #philos2 > .philos_wrap .title > li:nth-child(2){font-size:13px; color:#000; margin-bottom:11.3%; width:100%;}
   #philos2 > .philos_wrap .title > li:nth-child(3){font-size:25px; color:#000; font-weight:400; line-height:125%; width:100%;}
   
   .cont1{text-align:center; width:100%; max-width:718px; margin:0 auto; margin-top:30px; font-size:17px; margin-bottom:8.4%; line-height:150%; text-align:left;}
}