@charset "utf-8";
/* CSS Document */

#intro_topbanner{width:100%; background:url(../img/intro/top_bg.jpg);   margin-top:162px; display:inline-block; height:269px;}
#intro_topbanner .topbanner_wrap{width:calc(100% - 30px); max-width:1170px; margin:0 auto;}
#intro_topbanner .top_inner{width:calc(100% - 30px); max-width:570px; margin:56px auto 0 auto; display:block;}
#intro_topbanner .topbanner_wrap > .top_inner > img{width:18%; float:left;}
#intro_topbanner .topbanner_wrap > .top_inner > ul{width:71%; float:left;}
#intro_topbanner .topbanner_wrap > .top_inner > ul > li{text-align:center;}
#intro_topbanner .topbanner_wrap > .top_inner > ul > li:nth-child(1){font-size:23px; margin-bottom:15px; line-height:130%; margin-left:15px;}
#intro_topbanner .topbanner_wrap > .top_inner > ul > li:nth-child(2){font-size:20px;}


#location{width:100%; border-bottom:solid 1px #e2e2e2; }
.location_wrap{width:calc(100% - 30px); max-width:1170px; margin:0 auto; height:31px; border-left:solid 1px #e2e2e2; padding-top:15px;}
.location_wrap > ul > li{float:left; margin-left:2%; font-size:12px; color:#868686;}
.location_wrap > ul > li > img{ vertical-align:middle;}
.location_wrap > ul > li.nowpage{color:#000; font-weight:400;}

#philos1{width:100%; overflow:auto; clear:both; margin-bottom:10%;}
#philos1 > .philos_wrap{width:calc(100% - 30px); max-width:1170px; margin:0 auto;}
#philos1 > .philos_wrap .title{width:100%; max-width:400px; margin:0 auto; margin-top:8%;}
#philos1 > .philos_wrap .title > li:nth-child(1){width:37px; height:2px; background-color:#000; margin-bottom:3.77%;}
#philos1 > .philos_wrap .title > li:nth-child(2){font-size:15px; color:#000; margin-bottom:11.3%;}
#philos1 > .philos_wrap .title > li:nth-child(3){font-size:32px; color:#000; font-weight:400; line-height:125%;}
.cont1{text-align:center; width:100%; max-width:718px; margin:0 auto; margin-top:80px; font-size:20px; margin-bottom:6.4%; line-height:150%;}


ul.card{width:30.2%; max-width:354px; float:left; margin-right:4.6%;}
ul.card > li:nth-child(1){height:259px;}
ul.card > li:nth-child(2){ background-color:#f4f4f4; text-align:center; padding:11% 5%;}
ul.card > li:nth-child(2) > ul > li:nthc-child(1){font-size:20px;}
ul.card > li:nth-child(2) > ul > li:nthc-child(2){font-size:15px;}
ul.card3{margin-right:0;}


ul.card1 > li:nth-child(1){ background:url(../img/intro/img1.jpg) center no-repeat; background-size:cover; overflow:hidden;}
ul.card2 > li:nth-child(1){ background:url(../img/intro/img2.jpg) center no-repeat; background-size:cover; overflow:hidden;}
ul.card3 > li:nth-child(1){ background:url(../img/intro/img3.jpg) center no-repeat; background-size:cover; overflow:hidden;}


ul.card > li:nth-child(2) > ul > li:nth-child(1){font-size:20px; font-weight:400; margin-bottom:8.7%;}
ul.card > li:nth-child(2) > ul > li:nth-child(2){font-size:15px; font-weight:400;}
ul.card > li:nth-child(2) > ul{display:inline-block;}

#philos2{width:100%; background-color:#f5f5f5; text-align:center;}
#philos2 > .philos_wrap{width:calc(100% - 30px); max-width:1170px; margin:0 auto 12% auto; display:inline-block; text-align:center;}
#philos2 > .philos_wrap .title{width:100%; max-width:206px; margin:0 auto; margin-top:8%; display:inline-block; text-align:left;}
#philos2 > .philos_wrap .title > li:nth-child(1){width:37px; height:2px; background-color:#000; margin-bottom:3.77%;}
#philos2 > .philos_wrap .title > li:nth-child(2){font-size:15px; color:#000; margin-bottom:11.3%;}
#philos2 > .philos_wrap .title > li:nth-child(3){font-size:32px; color:#000; font-weight:400; line-height:125%;}
.issue_pic1{width:100%; max-width:342px; margin:0 auto;}



@media All and (max-width:640px){
	#intro_topbanner{width:100%; background:url(../img/intro/top_bg.jpg);   margin-top:123px; display:inline-block; height:269px;}
	
	ul.card{width:100%; max-width:354px; float:none; margin:0 auto 3% auto;}
	ul.card > li:nth-child(1){height:259px;}
	ul.card > li:nth-child(2){ background-color:#f4f4f4; text-align:center; padding:11% 5%;}
	ul.card > li:nth-child(2) > ul > li:nthc-child(1){font-size:20px;}
	ul.card > li:nth-child(2) > ul > li:nthc-child(2){font-size:15px;}
	ul.card3{margin-bottom:0;}
	
	#intro_topbanner .topbanner_wrap > .top_inner > ul > li:nth-child(1){font-size:17px; margin-bottom:15px; line-height:130%; margin-left:15px;}
    #intro_topbanner .topbanner_wrap > .top_inner > ul > li:nth-child(2){font-size:14px;}
}


@media All and (max-width:375px){
	#philos1 > .philos_wrap .title > li:nth-child(2){font-size:13px; color:#000; margin-bottom:11.3%;}
    #philos1 > .philos_wrap .title > li:nth-child(3){font-size:25px; color:#000; font-weight:400; line-height:125%;}

   #philos2 > .philos_wrap .title{width:100%;  margin-top:8%; display:inline-block; text-align:left; }
   #philos2 > .philos_wrap .title > li:nth-child(2){font-size:13px; color:#000; margin-bottom:11.3%; width:100%;}
   #philos2 > .philos_wrap .title > li:nth-child(3){font-size:25px; color:#000; font-weight:400; line-height:125%; width:100%;}
   
   .cont1{text-align:center; width:100%; max-width:718px; margin:0 auto; margin-top:30px; font-size:17px; margin-bottom:8.4%; line-height:150%; text-align:left;}
}