@charset "utf-8";
/* CSS Document */

#word_topbanner{width:100%; background:#dfe4ed; margin-top:162px; display:inline-block; height:269px; text-align:center;}
#word_topbanner .topbanner_wrap{width:calc(100% - 30px); max-width:1170px; margin:0 auto; position:relative; height:269px; display:inline-block;}
#word_topbanner .top_inner{width:50%; max-width:404px; margin:80px auto 0 auto;}
#word_topbanner .topbanner_wrap > img.timg1{position:absolute; bottom:0; left:0; width:17%;}
#word_topbanner .topbanner_wrap > img.timg2{position:absolute; bottom:0; right:0; width:18%;}
#word_topbanner .topbanner_wrap > .top_inner > ul{width:100%;}
#word_topbanner .topbanner_wrap > .top_inner > ul > li{text-align:center;}
#word_topbanner .topbanner_wrap > .top_inner > ul > li:nth-child(1){font-size:20px; margin-bottom:15px; line-height:130%;}
#word_topbanner .topbanner_wrap > .top_inner > ul > li:nth-child(2){font-size:17px;}


#location{width:100%; border-bottom:solid 1px #e2e2e2; }
.location_wrap{width:calc(100% - 30px); max-width:1170px; margin:0 auto; height:31px; border-left:solid 1px #e2e2e2; padding-top:15px;}
.location_wrap > ul > li{float:left; margin-left:2%; font-size:12px; color:#868686;}
.location_wrap > ul > li > img{ vertical-align:middle;}
.location_wrap > ul > li.nowpage{color:#000; font-weight:400;}

#letter{width:100%;  display:inline-block; background-color:#f0f0f0;}
#letter .letter_wrap{width:calc(100% - 30px); max-width:1170px; margin:0 auto; padding-bottom:50px; }


/*----------------- list page ------------------------------*/
.letter_wrap > .title{margin-top:94px; text-align:center;}
.letter_wrap > .title > li:nth-child(1){font-size:35px; font-weight:400; text-align:center; margin-bottom:15px;}
.letter_wrap > .title > li:nth-child(2){font-size:20px; text-align:center; font-weight:300;}

.letter_wrap .list_wrap{width:100%; margin-top:100px; overflow:auto; clear:both;}

.letter_wrap .list_wrap .date_wrap{width:252px; height:26px; margin:50px auto 0 auto;}
.letter_wrap .list_wrap .date_wrap > li{float:left; line-height:26px; text-align:center; font-size:17px; font-weight:400;}
.letter_wrap .list_wrap .date_wrap > li img.cal{vertical-align:middle; margin-right:5px; cursor:pointer;}
.letter_wrap .list_wrap .date_wrap > li img.arrow{width:100%; vertical-align:middle;}
.letter_wrap .list_wrap .date_wrap > li:nth-child(1){width:9px; }
.letter_wrap .list_wrap .date_wrap > li:nth-child(2){width:calc(100% - 18px);}
.letter_wrap .list_wrap .date_wrap > li:nth-child(3){width:9px; }


.letter_wrap .list_wrap .title_wrap{margin-top:60px; width:100%; text-align:center; display:inline-block;}
.letter_wrap .list_wrap .title_wrap > li:nth-child(1){font-size:25px; font-weight:500; margin-bottom:20px; line-height:120%;}
.letter_wrap .list_wrap .title_wrap > li:nth-child(2){font-size:15px; font-weight:400; line-height:120%;}


.letter_wrap .list_wrap .box_wrap{width:100%; max-width:800px; background-color:#FFF; margin:39px auto 0 auto;}
.letter_wrap .list_wrap .box{ position:relative; width:100%;/* 원하는 너비 */}
.letter_wrap .list_wrap .box:before{content:""; padding-top:74%; display:block}
.letter_wrap .list_wrap .box > .holder{position:absolute; top:0; left:0; overflow:hidden; width:100%; height:100%;}
.letter_wrap .list_wrap .box_wrap .letter_cont{width:100%; height:auto; text-align:center; padding:20px 0; background-color:#FFF;}
.letter_wrap .list_wrap .box_wrap .letter_cont > ul{width:70%; margin:0 auto 0 auto;}
.letter_wrap .list_wrap .box_wrap .letter_cont > ul > li{font-size:14px; font-weight:400;}

@media All and (max-width:768px){

}


@media All and (max-width:640px){
	#word_topbanner .top_inner{width:50%; max-width:404px; margin:80px auto 0 auto;}
	#word_topbanner{width:100%; background:#dfe4ed;  margin-top:123px; display:inline-block; height:269px;}
	#word_topbanner .topbanner_wrap > .top_inner > ul > li:nth-child(1){font-size:17px; margin-bottom:15px; line-height:130%;}
    #word_topbanner .topbanner_wrap > .top_inner > ul > li:nth-child(2){font-size:14px;}
}

@media All and (max-width:480px){

}

@media All and (max-width:375px){
    
}