@charset "utf-8";
/* CSS Document */

/*---------------------------------------------------------------------------
  상단 (head)
----------------------------------------------------------------------------*/

#head_wrap{width:100%; text-align:center; background-color:#fff; position:fixed; z-index:10; top:0; left:0;}
#head_wrap .head_top_wrap{max-width:1200px; width:clac(100% - 30px); height:85px;  margin:0 auto; position:relative;}
#head_wrap .head_top_wrap > a.logo{margin:24px auto 0 auto; width:113px; height:33px; display:block;}


.notice_wrap{max-width:350px; width:100%; overflow:hidden; position:absolute; left:15px; top:15px;}
.notice_wrap > ul > li{float:left;}
.notice_wrap > ul > li:nth-child(1){width:55px; text-align:left;}
.notice_wrap > ul > li:nth-child(2){max-width:250px; width:100%; position:relative;}
.nt_title{font-size:12px; font-weight:500;}
.nt_cont_wrap{height:20px; margin-left:15px; margin-right:30px; }
.nt_cont_wrap > li{font-size:12px; font-weight:100; text-align:left; position:absolute; word-break:break-all; height:20px; overflow:hidden;}
.nt_cont_wrap > li > a{width:100%;}
.nt_cont_wrap > li > a:link{color:#868686;}
.nt_cont_wrap > li > a:hover{color:#868686;}
.nt_cont_wrap > li > a:visited{color:#868686;}
.nt_arrow_up{cursor:pointer;}
.nt_arrow_down{cursor:pointer;}

.line_wrap{width:100%; height:1px; background-color:#CCC;}
.line_wrap > ul{width:100%; max-width:1200px; margin:0 auto;}
.line_wrap > ul > li{width:0px; height:1px; background-color:#000; float:left; margin-left:166px;}
.line_wrap > ul > li:first-child{margin:0;}


/*---------------------------------------------------------------------------
  네비게이션 (head)
----------------------------------------------------------------------------*/
.nav_wrap{max-width:1200px; width:clac(100% - 30px); height:52px;  margin:0 auto; line-height:52px; overflow:hidden;}
.nav_wrap > ul > li{float:left; font-size:15px; color:#000; margin-left:166px; font-weight:500;}
.nav_wrap > ul > li > a:link{color:#000;}
.nav_wrap > ul > li > a:hover{color:#000;}
.nav_wrap > ul > li > a:visited{color:#000;}

.nav_wrap > ul > li:first-child{margin:0;}

.nav_wrap > ul > li > ul > li{font-size:13px; font-weight:400; line-height:40px;}






/*---------------------------------------------------------------------------
  메인배너 (banner)
----------------------------------------------------------------------------*/
#main_banner{width:100%; height:870px; margin-top:137px;}
#main_banner .banner_wrap{position:relative; width:100%; height:100%;}
#main_banner .banner_wrap img.arrow_left{position:absolute; left:30px; top:50%; margin-top:-51px; z-index:1; cursor:pointer;}
#main_banner .banner_wrap img.arrow_right{position:absolute; right:30px; top:50%; margin-top:-51px; z-index:1; cursor:pointer;}
#main_banner .banner_wrap > .banner{position:absolute; text-align:center; width:100%; }
#main_banner .banner_wrap > .banner > img.back{position:absolute; width:100%; left:0; top:0;}


.bn1 .copy_rigt{position:absolute; z-index:2; left:50%; margin-left:-363px; top:120px; width:727px; transition:all 0.5s ease-in-out;}
.bn1 .copy_rigt > li:first-child{font-size:57px; color:000;}
.bn1 .copy_rigt > li:last-child{margin-top:60px;}
.bn1 .copy_rigt > li:last-child > ul{width:568px; height:50px; margin:0 auto;}
.bn1 .copy_rigt > li:last-child > ul > li{float:left; margin-right:70px; text-align:left;}
.bn1 .copy_rigt > li:last-child > ul > li:last-child{float:left; margin-right:0;}
.bn1 .copy_rigt > li:last-child > ul > li > span{font-size:15px; margin-left:17px;}


/*---------------------------------------------------------------------------
  GOD'S WORDS
----------------------------------------------------------------------------*/
#godwords .godwords_wrap{width:100%; max-width:1170px; overflow:auto; padding:30px 0; margin:0 auto; position:relative;}
#godwords .godwords_wrap > div{float:left;}
#godwords .godwords_wrap > div.god_title{width:213px;}
#godwords .godwords_wrap > div.line{width:1px; height:100%; background-color:#ccc;}
#godwords .godwords_wrap > div.words_wrap{width:100%; max-width:767px; margin-left:44px;}
#godwords .godwords_wrap > div.date_wrap{width:143px; position:absolute; right:15px; top:30px; z-index:3;}

#godwords .godwords_wrap > div.god_title > ul > li{text-align:left;}
#godwords .godwords_wrap > div.god_title > ul > li:nth-child(1){width:42px; height:1px; background-color:#000;}
#godwords .godwords_wrap > div.god_title > ul > li:nth-child(2){margin-top:80px; font-size:31px;}
#godwords .godwords_wrap > div.god_title > ul > li:nth-child(3){font-size:40px; font-weight:400; margin-top:15px;}

#godwords .godwords_wrap > div.words_wrap > ul{float:left;}
#godwords .godwords_wrap > div.words_wrap > ul > li:nth-child(1){font-size:12px; font-weight:400;}
#godwords .godwords_wrap > div.words_wrap > ul > li:nth-child(2){font-size:14px; font-weight:400; margin-top:54px;}
#godwords .godwords_wrap > div.words_wrap > ul > li:nth-child(3){font-size:17px; font-weight:400; width:100%; max-width:450px; margin-top:19px;}
#godwords .godwords_wrap > div.words_wrap .img_wrap{width:150px; height:170px; text-align:center; float:left; margin-left:40px;}

#godwords .godwords_wrap  div.date_wrap > ul{float:right;}
#godwords .godwords_wrap  div.date_wrap > ul > li{float:left;}
#godwords .godwords_wrap  div.date_wrap > ul > li:nth-child(1),#godwords .godwords_wrap > div.date_wrap > ul > li:nth-child(3){cursor:pointer;}
#godwords .godwords_wrap  div.date_wrap > ul > li:nth-child(2){width:119px; height:20px; line-height:20px; text-align:center; font-size:12px;}




/*---------------------------------------------------------------------------
  SERMON
----------------------------------------------------------------------------*/
#sermon{width:100%; background-color:#c7c7c7;}
#sermon .sermon_wrap{width:100%; max-width:1170px; padding:20px 0; margin:0 auto;  overflow:auto; clear:both; }
#sermon .sermon_wrap .img_wrap{float:left; margin-left:15px;}
#sermon .sermon_wrap .img_wrap > img{float:left; margin-right:38px; vertical-align:middle;}
#sermon .sermon_wrap .img_wrap > ul{margin-top:21px; float:left;}
#sermon .sermon_wrap .img_wrap > ul > li{font-size:12px; font-weight:400}
#sermon .sermon_wrap .sermon_info{float:right; margin-top:25px; margin-right:15px;}
#sermon .sermon_wrap .sermon_info > ul > li:nth-child(1){font-size:15px;}
#sermon .sermon_wrap .sermon_info > ul > li:nth-child(2){font-size:20px;}



/*---------------------------------------------------------------------------
  yosnews
----------------------------------------------------------------------------*/
#yosnews{width:100%; background:url(../img/main/yosnew_back.jpg) center no-repeat; background-size:cover;}
#yosnews > .yosnews_wrap{width:100%; max-width:1170px; padding:60px 0; margin:0 auto; overflow:auto; text-align:center;  clear:both;}
#yosnews > .yosnews_wrap > .title > li:first-child{color:#fff; font-size:15px;}
#yosnews > .yosnews_wrap > .title > li:last-child{color:#fff; font-size:25px; font-weight:400; margin-top:15px;}

#yosnews > .yosnews_wrap > .seemore{width:100%; height:19px;  float:right; margin-top:62px;}
#yosnews > .yosnews_wrap > .seemore span{display:none;}
#yosnews > .yosnews_wrap > .seemore > a{width:54px; height:19px; display:block; float:right; background-image:url(../img/main/more_bnt.png);}
#yosnews > .yosnews_wrap > .seemore > a:link{color:#fff; font-size:13px; text-align:center; line-height:19px;}


#yosnews > .yosnews_wrap > .yosnews_innerwrap{width:100%;}
#yosnews > .yosnews_wrap > .yosnews_innerwrap > .news_wrap{width:245px; height:287px; padding:20px 20px; background-color:#fff; border-top:2px solid #000; text-align:left; margin-right:10px; margin-top:20px; float:left;}
#yosnews > .yosnews_wrap > .yosnews_innerwrap > .news_wrap:last-child{margin-right:0;}
#yosnews > .yosnews_wrap > .yosnews_innerwrap > .news_wrap a > ul > li.title{width:100%; height:15px;}
#yosnews > .yosnews_wrap > .yosnews_innerwrap > .news_wrap a > ul > li.title > ul > li:first-child{color:#000; font-size:15px; font-weight:400; float:left; width:calc(100% - 75px);}
#yosnews > .yosnews_wrap > .yosnews_innerwrap > .news_wrap a > ul > li.title > ul > li:last-child{color:#696969; font-size:13px; font-weight:400; float:left;} 
#yosnews > .yosnews_wrap > .yosnews_innerwrap > .news_wrap a > ul > li.line{width:100%; height:1px; background-color:#c0c0c0; margin-top:20px;}
#yosnews > .yosnews_wrap > .yosnews_innerwrap > .news_wrap a > ul > li:nth-child(3){margin-top:20px; font-size:15px; color:#000; font-weight:400;}
#yosnews > .yosnews_wrap > .yosnews_innerwrap > .news_wrap a > ul > li:nth-child(4){margin-top:20px; font-size:13px; color:#696969; font-weight:400;}



/*---------------------------------------------------------------------------
  issue
----------------------------------------------------------------------------*/
#issue{width:100%;}
#issue .issue_wrap{width:calc(100% - 30px); max-width:1170px; margin:0 auto; padding:60px 0; overflow:auto; text-align:left;  clear:both;}
#issue .issue_wrap .podcast_wrap{width:100%; max-width:354px; float:left; text-align:left;}
#issue .issue_wrap .podcast_wrap .pod_title{flaot:left}
#issue .issue_wrap .pod_title .line{width:39px; margin-bottom:47px; height:1px; background-color:#000;}
#issue .issue_wrap .pod_title .title{font-size:15px; color:#000; font-weight:400; margin-bottom:30%;}
#issue .issue_wrap .movie{width:100%; max-width:291px; margin-bottom:14px; float:left;}
#issue .issue_wrap .de_movie{color:#000; font-size:12px; font-weight:400; float:left;}

#issue .issue_wrap .device_line{width:1px; height:511px; background-color:#cccccc; float:left;}
#issue .issue_wrap .jesus_wrap{width:calc(100% - 418px); max-width:725px; border-top:2px solid #000; height:auto; float:left; margin-left:5.3%; text-align:left;}
#issue .issue_wrap .jesus_title{font-size:17px; font-weight:400; color:#000; margin:22px 0 22px 0;}
#issue .issue_wrap .jnews1_wrap{width:56%; max-width:407px; float:left;}
#issue .issue_wrap .jnews1_wrap > ul > li:first-child{margin-bottom:16px;}
#issue .issue_wrap .jnews1_wrap > ul > li:nth-child(2) > span:nth-child(1){text-align:left; width:50%; font-size:14px; font-weight:600; display:block; height:19px; float:left;}
#issue .issue_wrap .jnews1_wrap > ul > li:nth-child(2) > span:nth-child(2){text-align:right; width:50%; display:block; height:19px; float:left;}
#issue .issue_wrap .jnews1_wrap > ul > li:nth-child(3){font-size:12px; color:#a8a8a8; font-weight:400; line-height:32px}
#issue .issue_wrap .jnews2_wrap{width:41%; max-width:302px;  margin-left:2.2%; float:left;}
#issue .issue_wrap  .jnews2_wrap > ul > li:nth-child(1){margin-bottom:16px;}
#issue .issue_wrap  .jnews2_wrap > ul > li:nth-child(2) > span:nth-child(1){width:50%; text-align:left; float:left; font-size:14px; font-weight:600;}
#issue .issue_wrap  .jnews2_wrap > ul > li:nth-child(2) > span:nth-child(2){width:50%; text-align:right; float:left;}
#issue .issue_wrap  .jnews2_wrap > ul > li:nth-child(3){font-size:12px; color:#a8a8a8; font-weight:400; margin-top:20px;}


/*---------------------------------------------------------------------------
  bottom
----------------------------------------------------------------------------*/
#bottom{width:100%;  background-color:#fff; border-top:1px solid #c7c7c7;}
#bottom .bottom_wrap{width:calc(100% - 30px); max-width:1170px; height:33px; padding:64px 0;  margin:0 auto; color:#797979;}
#bottom .bottom_wrap > ul > li{float:left; font-size:12px; font-weight:400;}
#bottom .bottom_wrap > ul > li:nth-child(1){margin-right:63px;}
#bottom .bottom_wrap > ul > li:nth-child(1) > img{ vertical-align:middle;}
#bottom .bottom_wrap > ul > li:nth-child(2){margin-right:34px;}
#bottom .bottom_wrap > ul > li:nth-child(2){margin-right:34px;}



/*---------------------------------------------------------------------------
  mobile
----------------------------------------------------------------------------*/


/*--------------- 모바일 스왑아이콘 -------------------------*/
.swapicon_wrap{width:35px; position:relative; height:20px; float:right; margin:27px 15px 0 0; cursor:pointer; display:none;}
.swapicon_wrap > div.line{width:100%; height:1px; background-color:#000; position:absolute;}
.swapicon_wrap > div.line:nth-child(1){top:0;}
.swapicon_wrap > div.line:nth-child(2){top:10px;}
.swapicon_wrap > div.line:nth-child(3){top:10px;}
.swapicon_wrap > div.line:nth-child(4){top:20px;}



.m_menu_wrap{width:100%; height:100%; background:rgba(255, 255, 255, 0.7); position:fixed; top:124px; z-index:20; overflow:auto; clear:both; display:none;}
.m_menu_wrap > ul > li{width:100%; border-bottom:1px solid #d7d7d7; height:57px; color:#fff; overflow:hidden;

    background:rgba(78, 80, 89, 0.7);
	-webkit-transform-origin:-100% 0%;
	-moz-transform-origin:-100% 0%;
	-o-transform-origin:-100% 0%;
	-ms-transform-origin:-100% 0%;
	transform-origin:-100% 0%;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: perspective(800px) rotateX(90deg) rotateY(0deg) rotateZ(0deg);
	-moz-transform: perspective(800px) rotateX(90deg) rotateY(0deg) rotateZ(0deg);
	-o-transform: perspective(800px) rotateX(90deg) rotateY(0deg) rotateZ(0deg);
	-ms-transform: perspective(800px) rotateX(90deg) rotateY(0deg) rotateZ(0deg);
	transform: perspective(800px) rotateX(90deg) rotateY(0deg) rotateZ(0deg);
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;

}

.m_menu_wrap > ul > li:nth-child(1){
	border-top:1px solid #d7d7d7;
}

.m_menu_wrap > ul > li > span{width:100%; height:57px; line-height:57px; display:block; color:#000; font-size:15px; font-weight:400;}
.m_menu_wrap > ul > li > span{width:calc(100% - 36px); float:left; }
.m_menu_wrap > ul > li > span:nth-child(1){margin-left:15px; text-align:left;}
.m_menu_wrap > ul > li > span:nth-child(2){width:6px; margin-right:15px; text-align:right; 	
    -ms-transform:rotate(0deg);
	-webkit-transform:rotate(0deg);
	transform:rotate(0deg);
	
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.m_menu_wrap > ul > li.on{
	background:rgba(255, 255, 255, 1);
	-webkit-transform: perspective(800px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
	-moz-transform: perspective(800px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
	-o-transform: perspective(800px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
	-ms-transform: perspective(800px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
	transform: perspective(800px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}


.m_menu_wrap > ul > li.click{height:auto; overflow:hidden;}

.m_menu_wrap > ul > li.click > span:nth-child(2){
	-ms-transform:rotate(90deg);
	-webkit-transform:rotate(90deg);
	transform:rotate(90deg);
	
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.m_menu_wrap > ul > li > ul {float:left; margin-left:25px; margin-bottom:15px;}
.m_menu_wrap > ul > li > ul > li{text-align:left; margin-bottom:15px;}
.m_menu_wrap > ul > li > ul > li > a:link{font-size:13px; font-weight:400; color:#977ca0;}
.m_menu_wrap > ul > li > ul > li > a:visited{font-size:13px; font-weight:400; color:#977ca0;}
.m_menu_wrap > ul > li > ul > li > a:hover{font-size:13px; font-weight:400; color:#6d2b83;}
.m_menu_wrap > ul > li > ul > li > a:action{font-size:13px; font-weight:400; color:#6d2b83;}

@media all and (max-width:1220px) and (min-width:875px){
	#yosnews > .yosnews_wrap > .yosnews_innerwrap{width:875px; margin:0 auto;}
	#yosnews > .yosnews_wrap > .yosnews_innerwrap > .news_wrap:nth-child(3){margin-right:0;}
}

@media all and (max-width:905px) and (min-width:609px){
	#yosnews > .yosnews_wrap > .yosnews_innerwrap{width:580px; margin:0 auto;}
	#yosnews > .yosnews_wrap > .yosnews_innerwrap > .news_wrap:nth-child(2){margin-right:0;}
	#yosnews > .yosnews_wrap > .yosnews_innerwrap > .news_wrap:nth-child(4){margin-right:0px;}
	#yosnews > .yosnews_wrap > .yosnews_innerwrap > .news_wrap:nth-child(3){margin-right:10px;}
}

@media all and (max-width:610px) and (min-width:316px){
	#yosnews > .yosnews_wrap > .yosnews_innerwrap{width:285px; margin:0 auto;}
	#yosnews > .yosnews_wrap > .yosnews_innerwrap > .news_wrap{margin-right:0;}
	#yosnews > .yosnews_wrap > .seemore > a{width:54px; height:19px; display:block; float:none; margin:0 auto; background-image:url(../img/main/more_bnt.png);}
}



@media all and (max-width:1200px){
	#godwords .godwords_wrap > div.god_title{display:none;}
	#godwords .godwords_wrap > div.words_wrap{width:calc(100% - 15px); max-width:767px; margin-left:15px;}
	#godwords .godwords_wrap > div.god_title{display:none;}
	#godwords .godwords_wrap > div.words_wrap{width:calc(100% - 15px); max-width:767px; margin-left:15px;}
}


@media all and (max-width:800px){
	#godwords .godwords_wrap > div.words_wrap .img_wrap{width:100%; height:170px; text-align:center; float:left; margin:30px auto 0 auto;}
	#godwords .godwords_wrap .words_wrap  .img_wrap{ float:none; width:100%; max-width:none; margin:30px auto 0 auto;}
	#godwords .godwords_wrap .words_wrap  .img_wrap > img{margin:0 auto;}
}


@media all and (max-width:900px) and (min-width:731px){
	#main_banner .banner_wrap img.arrow_left, #main_banner .banner_wrap img.arrow_right{width:35px;}
	.bn1 .copy_rigt{transition:all 0.5s ease-in-out; transform:scale(0.7); top:80px;}
	
}

@media all and (max-width:730px) and (min-width:540px){
	#main_banner .banner_wrap img.arrow_left, #main_banner .banner_wrap img.arrow_right{width:25px;}
	.bn1 .copy_rigt{transition:all 0.5s ease-in-out; transform:scale(0.6); top:50px;}
}


@media all and (max-width:541px) and (min-width:470px){
	#main_banner .banner_wrap img.arrow_left, #main_banner .banner_wrap img.arrow_right{display:none;}
	.bn1 .copy_rigt{transition:all 0.5s ease-in-out; transform:scale(0.6); top:50px;}
}

@media all and (max-width:471px) and (min-width:375px){
	#main_banner .banner_wrap img.arrow_left, #main_banner .banner_wrap img.arrow_right{display:none;}
	.bn1 .copy_rigt > li:first-child{font-size:20px;}
	.bn1 .copy_rigt{transition:all 0.5s ease-in-out; top:40px;}
	.bn1 .copy_rigt > li:last-child > ul > li > span{font-size:12px; margin-left:10px;}
	.bn1 .copy_rigt > li:last-child > ul > li{float:left; margin-right:20px; text-align:left;}
	.bn1 .copy_rigt > li:last-child > ul{width:350px; height:50px; margin:0 auto;}
	.bn1 .copy_rigt > li:last-child{margin-top:20px;}
}

@media all and (max-width:376px){
	#main_banner .banner_wrap img.arrow_left, #main_banner .banner_wrap img.arrow_right{display:none;}
	.bn1 .copy_rigt > li:first-child{font-size:20px;}
	.bn1 .copy_rigt{transition:all 0.5s ease-in-out; top:40px;}
	.bn1 .copy_rigt > li:last-child > ul > li > span{font-size:12px; margin-left:10px;}
	.bn1 .copy_rigt > li:last-child > ul > li{float:left; margin-right:0px; text-align:left;}
	.bn1 .copy_rigt > li:last-child > ul{width:310px; height:50px; margin:0 auto;}
	.bn1 .copy_rigt > li:last-child{margin-top:20px;}
}

@media all and (max-width:860px) and (min-width:641px){
	div.notice_wrap{top:40px;}
}

@media all and (max-width:640px){
	.swapicon_wrap{display:block;}
	#main_banner{overflow:hidden;}
	#main_banner .banner_wrap > .banner > img.back{position:absolute; width:640px; left:50%; margin-left:-320px;}
   .nav_wrap > ul{display:none;}
    div.notice_wrap{top:90px; left:50%; margin-left:-175px;}
    #head_wrap .head_top_wrap > a.logo{float:left; margin:24px 0 0 15px;}
	#head_wrap .head_top_wrap{height:75px;}
	.nav_wrap{height:48px}
	#main_banner{margin-top:124px;}
	
	#bottom .bottom_wrap > ul > li:nth-child(2){margin-right:34px; width:calc(100% - 180px)}
    #bottom .bottom_wrap > ul > li:nth-child(2){margin-right:34px; width:calc(100% - 180px)}
}



@media all and (max-width:1000px){
	#issue .issue_wrap .jnews1_wrap{width:100%; max-width:none; float:left;}
	#issue .issue_wrap .jnews2_wrap{width:100%; max-width:none; margin-left:0%; margin-top:20px; float:left;}
   /*	#issue .issue_wrap .jesus_wrap{width:calc(100% - 752px); border-top:2px solid #000; height:auto; float:left; margin-left:63px; text-align:left;}*/
}

@media all and (max-width:768px){
	#issue .issue_wrap .podcast_wrap{width:100%; max-width:none; float:left; text-align:left;}
	#issue .issue_wrap .device_line{display:none;}
	#issue .issue_wrap .pod_title .line{width:39px; margin-bottom:47px; height:1px; background-color:#000;}
	#issue .issue_wrap .pod_title .title{font-size:15px; color:#000; font-weight:400; margin-bottom:10%;}
	#issue .issue_wrap .movie{width:100%; max-width:none; margin-bottom:14px; float:left;}
	#issue .issue_wrap .de_movie{color:#000; font-size:12px; font-weight:400; margin-bottom:20px;}
	
	#issue .issue_wrap .jesus_wrap{width:100%; max-width:none; border-top:2px solid #000; height:auto; float:left; margin-left:0; text-align:left;}
}