@charset "utf-8";
/* CSS Document */

/*---------------------------------------------------------------------------
  상단 (head)
----------------------------------------------------------------------------*/

#head_wrap{width:100%; text-align:center; position:fixed; height:78px; background-color:#fff;}
#head_wrap .head_top_wrap{max-width:1200px; width:clac(100% - 40px); height:78px;  margin:0 auto; padding:0 40px;}
#head_wrap .head_inner > img.logo{float:left; margin-top:21px;}

/*---------------------------------------------------------------------------
  네비게이션
----------------------------------------------------------------------------*/
#navi_wrap{float:right; max-width:1000px; width:80%; text-align:right;}
#navi_wrap .nav_inner{text-align:right; width:auto; height:78px;}
#navi_wrap .nav_inner > ul{display:inline; float:right; margin-top:24px;}
#navi_wrap .nav_inner > ul > li{position:relative; float:left; margin-left:80px; text-align:left; -webkit-transition:0.5s all ease; -ms-transition:0.5s all ease; -moz-transition:0.5s all ease; -o-transition:0.5s all ease;}
#navi_wrap .nav_inner > ul > li:nth-child(1){margin-left:0; width:32px;}
#navi_wrap .nav_inner > ul > li:nth-child(2){width:63px;}
#navi_wrap .nav_inner > ul > li:nth-child(3){width:63px;}
#navi_wrap .nav_inner > ul > li:nth-child(4){width:63px;}
#navi_wrap .nav_inner > ul > li:nth-child(5){width:68px;}
#navi_wrap .nav_inner > ul > li:nth-child(6){width:63px;}

#navi_wrap .nav_inner > ul > li > ul > li{float:none; margin:0;}
#navi_wrap .nav_inner > ul > li > ul > li > a{font-size:17px; font-weight:400; color:#000;} 
#navi_wrap .nav_inner > ul > li > ul > li.stick{width:0; height:1px; background-color:#7f5090; margin-bottom:10px;  -webkit-transition:0.5s all ease; -ms-transition:0.5s all ease; -moz-transition:0.5s all ease; -o-transition:0.5s all ease;}

#navi_wrap .nav_inner > ul > li.on > ul > li.stick{width:100%; }
#navi_wrap .nav_inner > ul > li.on > ul > li > a{color:#7f5090;}
#navi_wrap .nav_inner > ul > li.on  > .subnav_wrap{position:absolute; width:160%; left:50%; background-color:#633f70; height:auto; padding:10px 10px; text-align:center; top:38px; overflow:hidden; transform:rotateY(0deg); -webkit-transition:0.5s all ease; -ms-transition:0.5s all ease; -moz-transition:0.5s all ease; -o-transition:0.5s all ease;}
#navi_wrap .nav_inner > ul > li.on > img.nav_arrow{display:block;}


.subnav_wrap{position:absolute; width:160%; left:50%; background-color:#fff; height:0; overflow:hidden; -webkit-transition:0.5s all ease; -ms-transition:0.5s all ease; -moz-transition:0.5s all ease; -o-transition:0.5s all ease;}
#navi_wrap .nav_inner > ul > li:nth-child(1) > .subnav_wrap{margin-left:-35.5px;}
#navi_wrap .nav_inner > ul > li:nth-child(2) > .subnav_wrap{margin-left:-60px;}
#navi_wrap .nav_inner > ul > li:nth-child(3) > .subnav_wrap{margin-left:-60px;}
#navi_wrap .nav_inner > ul > li:nth-child(4) > .subnav_wrap{margin-left:-60px;}
#navi_wrap .nav_inner > ul > li:nth-child(5) > .subnav_wrap{margin-left:-64px;}
#navi_wrap .nav_inner > ul > li:nth-child(6) > .subnav_wrap{margin-left:-60px;}

.subnav_wrap > ul > li{margin:5px 0;}
.subnav_wrap > ul > li > a:link{color:#fff; font-size:13px; font-weight:400;}
.subnav_wrap > ul > li > a:visited{color:#fff;}
.subnav_wrap > ul > li > a:hover{color:#e4c0c0;}
img.nav_arrow{position:absolute; top:30px; left:50%; margin-left:-6px; display:none;}
/*---------------------------------------------------------------------------
  웰컴페이지
----------------------------------------------------------------------------*/

@media all and (max-width:1020px) and (min-width:800px){
	#navi_wrap .nav_inner > ul > li{margin-left:40px; -webkit-transition:0.5s all ease; -ms-transition:0.5s all ease; -moz-transition:0.5s all ease; -o-transition:0.5s all ease;}
}