@charset "utf-8";
/* CSS Document */

#issue_topbanner{width:100%; background:url(../img/apply/top_back.jpg) center; margin-top:162px; display:inline-block; height:269px;}
#issue_topbanner .topbanner_wrap{width:calc(100% - 30px); max-width:1170px; margin:0 auto;}
#issue_topbanner .top_inner{width:calc(100% - 30px); max-width:570px; margin:36px auto 0 auto;}
#issue_topbanner .topbanner_wrap > .top_inner > img{float:left; vertical-align:middle; width:30%;}
#issue_topbanner .topbanner_wrap > .top_inner > ul{width:calc(70% - 15px); float:left; margin-left:15px; margin-top:10%;}
#issue_topbanner .topbanner_wrap > .top_inner > ul > li{text-align:center;}
#issue_topbanner .topbanner_wrap > .top_inner > ul > li:nth-child(1){font-size:20px; margin-bottom:15px; line-height:130%;}
#issue_topbanner .topbanner_wrap > .top_inner > ul > li:nth-child(2){font-size:17px;}


#location{width:100%; border-bottom:solid 1px #e2e2e2; }
.location_wrap{width:calc(100% - 30px); max-width:1170px; margin:0 auto; height:31px; border-left:solid 1px #e2e2e2; padding-top:15px;}
.location_wrap > ul > li{float:left; margin-left:2%; font-size:12px; color:#868686;}
.location_wrap > ul > li > img{ vertical-align:middle;}
.location_wrap > ul > li.nowpage{color:#000; font-weight:400;}

#ntc{width:100%;  display:inline-block;}
#ntc .ntc_wrap{width:calc(100% - 30px); max-width:1170px; margin:0 auto; }


/*----------------- list page ------------------------------*/
.ntc_wrap > .title{margin-top:94px; text-align:center;}
.ntc_wrap > .title > li:nth-child(1){font-size:35px; font-weight:400; text-align:center; margin-bottom:15px;}
.ntc_wrap > .title > li:nth-child(2){font-size:20px; text-align:center; font-weight:300;}

.ntc_wrap > .list_wrap > .title_wrap{margin:78px 0 15px 0;}
.ntc_wrap > .list_wrap > .title_wrap > li{float:left; font-size:17px; color:#000; font-weight:400; text-align:center; height:30px;}
.ntc_wrap > .list_wrap > .title_wrap > li:nth-child(1){width:70px;}
.ntc_wrap > .list_wrap > .title_wrap > li:nth-child(2){width:calc(100% - 180px);}
.ntc_wrap > .list_wrap > .title_wrap > li:nth-child(3){width:110px;}

.ntc_wrap > .list_wrap > ul.list{margin-top:25px;}
.ntc_wrap > .list_wrap > ul.list > li{border-bottom:1px solid #bcbcbc; color:#9b9b9b; font-size:15px; padding:20px 0; height:14px;}
.ntc_wrap > .list_wrap > ul.list > li > ul > li{float:left; text-align:center;}
.ntc_wrap > .list_wrap > ul.list > li > ul > li:nth-child(1){width:70px;}
.ntc_wrap > .list_wrap > ul.list > li > ul > li:nth-child(2){width:calc(100% - 180px); text-align:left; height:20px; overflow:hidden;}
.ntc_wrap > .list_wrap > ul.list > li > ul > li:nth-child(3){width:110px;}

.ntc_wrap > .list_wrap > ul.list > li > ul > li:nth-child(2) > a:link{color:#9b9b9b;}
.ntc_wrap > .list_wrap > ul.list > li > ul > li:nth-child(2) > a:visited{color:#9b9b9b;}
.ntc_wrap > .list_wrap > ul.list > li > ul > li:nth-child(2) > a:hover{color:#000;}

.paging_wrap{width:100%; margin-top:25px; text-align:center; margin-bottom:50px; }
.paging_wrap > ul{display:inline-block; float:none;}
.paging_wrap > ul > li > a > img{ vertical-align:middle;}
.paging_wrap > ul > li{float:left; margin:0 7px;}
.paging_wrap > ul > li > a:link.paging_bnt{width:24px; height:24px; background-color:#fff; font-size:15px; line-height:24px; display:block; border-radius:50%; text-align:center; text-decoration:none; font-weight:400;}
.paging_wrap > ul > li > a:hover.paging_bnt{width:24px; height:24px; background-color:#F4F4F4; font-size:15px; line-height:24px; display:block; border-radius:50%; text-align:center; text-decoration:none; font-weight:400;}
.paging_wrap > ul > li.nowpage{width:24px; height:24px; background-color:#000; color:#fff; font-size:15px; line-height:24px; font-weight:400; border-radius:50%;}

/*----------------- read page ------------------------------*/
.ntc_wrap .read_wrap ul.title_wrap{margin-top:85px;}
.ntc_wrap .read_wrap ul.title_wrap > li{float:left; margin:20px 0;}
.ntc_wrap .read_wrap ul.title_wrap > li:nth-child(1){width:calc(100% - 90px); text-align:left; font-size:17px; font-weight:400;}
.ntc_wrap .read_wrap ul.title_wrap > li:nth-child(2){width:90px; text-align:right; font-size:15px; font-weight:400;}
hr.hr1{ border:0; width:100%;  height:1px; background:#000; background-image:linear-gradient(to right, #000, #000, #000);}
hr.hr2{ border:0; width:100%;  height:2px; background:#000; background-image:linear-gradient(to right, #000, #000, #000);}

.ntc_wrap .read_wrap .addfile > li{float:left; margin:10px 0;}
.ntc_wrap .read_wrap .addfile > li:nth-child(1){margin:10px 12px; font-size:15px; color:#282828; font-weight:500;}
.ntc_wrap .read_wrap .addfile > li:nth-child(2){margin:10px 12px 10px 0; font-size:15px; color:#000;}
.ntc_wrap .read_wrap .addfile > li:nth-child(3) > ul > li{float:left; margin-right:10px;} 
.ntc_wrap .read_wrap .addfile > li:nth-child(3) > ul > li > a:link{ color:#989898; font-size:12px;}
.ntc_wrap .read_wrap .addfile > li:nth-child(3) > ul > li > a:visited{ color:#989898; font-size:12px;}
.ntc_wrap .read_wrap .addfile > li:nth-child(3) > ul > li > a:hover{ color:#000; font-size:12px;}

.ntc_wrap .read_wrap .content_wrap{padding:30px 0;}

.ntc_wrap .read_wrap .prev_wrap{width:calc(100% - 30px); padding:10px 20px; border-top:1px solid #000; border-bottom:1px solid #000;}
.ntc_wrap .read_wrap .prev_wrap > ul{margin-bottom:20px;} 
.ntc_wrap .read_wrap .prev_wrap > ul li{float:left;}
.ntc_wrap .read_wrap .prev_wrap > ul li:nth-child(1){font-size:13px; width:calc(100% - 70px); text-align:left; color:#737373; height:15px; overflow:hidden;}
.ntc_wrap .read_wrap .prev_wrap > ul li:nth-child(2){font-size:12px; width:70px; text-align:right; color:#372e29; font-weight:500;}
.ntc_wrap .read_wrap .prev_wrap > ul li:nth-child(2) > img{ vertical-align:middle; margin-left:15px;}


.ntc_wrap .read_wrap .next_wrap{width:calc(100% - 30px); padding:10px 20px; border-bottom:1px solid #000;}
.ntc_wrap .read_wrap .next_wrap > ul{margin-bottom:20px;} 
.ntc_wrap .read_wrap .next_wrap > ul li{float:left;}
.ntc_wrap .read_wrap .next_wrap > ul li:nth-child(1){font-size:13px; width:calc(100% - 70px); text-align:left; color:#737373; height:15px; overflow:hidden;}
.ntc_wrap .read_wrap .next_wrap > ul li:nth-child(2){font-size:12px; width:70px; text-align:right; color:#372e29; font-weight:500;}
.ntc_wrap .read_wrap .next_wrap > ul li:nth-child(2) > img{ vertical-align:middle; margin-left:15px;}
a.bnt{display:block; width:100px; height:39px; text-align:center; line-height:39px; color:#fff; font-size:12px; font-weight:400; text-decoration:none; background-color:#282d31; float:left; margin:20px 0 50px 0;}
.share{margin-top:25px;}
.share > li{float:left; margin-right:15px;}
.share > li > a{width:32px; height:32px; display:block;}
.share > li:nth-child(1) > a{background:url(../img/dptnews/tweet.png);}
.share > li:nth-child(2) > a{background:url(../img/dptnews/face.png);}
.share > li:nth-child(3) > a{background:url(../img/dptnews/google.png);}
.share > li:nth-child(4) > a{background:url(../img/dptnews/kakao.png);}

.share_wrap{width:calc(100% - 120px); height:32px; float:left;}

@media All and (max-width:980px){
	.ntc_wrap .list_wrap > .box {width:calc(33% - 22px);}
}


@media All and (max-width:768px){
	.ntc_wrap .list_wrap > .box {width:calc(50% - 22px);}
}


@media All and (max-width:640px){
	#issue_topbanner{width:100%; background:url(../img/apply/top_back.jpg) center;   margin-top:123px; display:inline-block; height:269px;}
	
	ul.card{width:100%; max-width:354px; float:none; margin:0 auto 3% auto;}
	ul.card > li:nth-child(1){height:259px;}
	ul.card > li:nth-child(2){ background-color:#f4f4f4; text-align:center; padding:11% 5%;}
	ul.card > li:nth-child(2) > ul > li:nthc-child(1){font-size:20px;}
	ul.card > li:nth-child(2) > ul > li:nthc-child(2){font-size:15px;}
	ul.card3{margin-bottom:0;}
	
	#issue_topbanner .topbanner_wrap > .top_inner > ul > li:nth-child(1){font-size:17px; margin-bottom:15px; line-height:130%;}
    #issue_topbanner .topbanner_wrap > .top_inner > ul > li:nth-child(2){font-size:14px;}
}

@media All and (max-width:480px){
	#issue_topbanner .topbanner_wrap > .top_inner > img{margin-top:50px;}

}

