@charset "utf-8";
/* CSS Document */

#onlyjesus_topbanner{width:100%; background:#f3f1eb; margin-top:162px; display:inline-block; height:269px; text-align:center;}
#onlyjesus_topbanner .topbanner_wrap{width:calc(100% - 30px); max-width:1170px; margin:0 auto; position:relative; height:269px; display:inline-block;}
#onlyjesus_topbanner .top_inner{width:50%; max-width:404px; margin:60px auto 0 auto;}
#onlyjesus_topbanner .topbanner_wrap > img.timg1{position:absolute; top:0; left:0; width:32%;}
#onlyjesus_topbanner .topbanner_wrap > img.timg2{position:absolute; bottom:0; right:0; width:14%;}
#onlyjesus_topbanner .topbanner_wrap > .top_inner > ul{width:100%; margin-left:4%;}
#onlyjesus_topbanner .topbanner_wrap > .top_inner > ul > li{text-align:center;}
#onlyjesus_topbanner .topbanner_wrap > .top_inner > ul > li:nth-child(1){font-size:20px; margin-bottom:15px; line-height:130%;}
#onlyjesus_topbanner .topbanner_wrap > .top_inner > ul > li:nth-child(2){font-size:17px;}


#location{width:100%; border-bottom:solid 1px #e2e2e2; }
.location_wrap{width:calc(100% - 30px); max-width:1170px; margin:0 auto; height:31px; border-left:solid 1px #e2e2e2; padding-top:15px;}
.location_wrap > ul > li{float:left; margin-left:2%; font-size:12px; color:#868686;}
.location_wrap > ul > li > img{ vertical-align:middle;}
.location_wrap > ul > li.nowpage{color:#000; font-weight:400;}

#onlyjesus{width:100%;  display:inline-block;}
#onlyjesus .onlyjesus_wrap{width:calc(100% - 30px); max-width:1170px; margin:0 auto; }


/*----------------- list page ------------------------------*/
.onlyjesus_wrap > .title{margin-top:94px; text-align:center;}
.onlyjesus_wrap > .title > li:nth-child(1){font-size:35px; font-weight:400; text-align:center; margin-bottom:15px;}
.onlyjesus_wrap > .title > li:nth-child(2){font-size:20px; text-align:center; font-weight:300;}

.onlyjesus_wrap .list_wrap{width:100%; margin-top:100px; overflow:auto; clear:both;}
.onlyjesus_wrap .list_wrap > .box { position:relative; width:calc(50% - 22px); margin:40px 10px; float:left; background-color:#FFF; border:1px solid #cecece; /* 원하는 너비 */}
.onlyjesus_wrap .list_wrap > .box:before { content: ""; display: block; padding-top:121%; /* 1:1 비율 */}
.onlyjesus_wrap .list_wrap > .box .content { position: absolute; bottom:15px; right:0; left:15px; width:calc(100% - 30px); height:33%; overflow:hidden; }
.onlyjesus_wrap .list_wrap > .box .content > ul.title > li:nth-child(1){width:calc(100% - 79px); text-align:left; float:left; font-size:15px; font-weight:500;}
.onlyjesus_wrap .list_wrap > .box .content > ul.title > li:nth-child(2){width:79px; text-align:right; float:left; font-size:15px; color:#696969; font-weight:400}
.onlyjesus_wrap .list_wrap > .box .content > .cont{width:100%; margin-top:15px; color:#a8a8a8; display:inline-block;}
.onlyjesus_wrap .list_wrap > .box .content > .cont > a{color:#a8a8a8;}

.jesusholder{ overflow:hidden; position:absolute; top:15px; left:15px; width:calc(100% - 30px); height:55%; z-index:1;}
.maximage { position:relative !important;}

/*----------------- read page ------------------------------*/
.onlyjesus_wrap .read_wrap ul.title_wrap{margin-top:150px;  text-align:center; display:inline-block; width:100%; }
.onlyjesus_wrap .read_wrap ul.title_wrap > li{margin:20px 0; width:100%; text-align:center;}
.onlyjesus_wrap .read_wrap ul.title_wrap > li:nth-child(1){ font-size:25px; font-weight:500;  line-height:120%;}
.onlyjesus_wrap .read_wrap ul.title_wrap > li:nth-child(2){ font-size:15px; font-weight:400; color:#929292; font-size:17px;}


.onlyjesus_wrap .read_wrap .content_wrap{padding:50px 0;}

.onlyjesus_wrap .read_wrap .prev_wrap{width:calc(100% - 30px); padding:10px 20px; border-top:1px solid #000; border-bottom:1px solid #000;}
.onlyjesus_wrap .read_wrap .prev_wrap > ul{margin-bottom:20px;} 
.onlyjesus_wrap .read_wrap .prev_wrap > ul li{float:left;}
.onlyjesus_wrap .read_wrap .prev_wrap > ul li:nth-child(1){font-size:13px; width:calc(100% - 70px); text-align:left; color:#737373; height:15px; overflow:hidden;}
.onlyjesus_wrap .read_wrap .prev_wrap > ul li:nth-child(2){font-size:12px; width:70px; text-align:right; color:#372e29; font-weight:500;}
.onlyjesus_wrap .read_wrap .prev_wrap > ul li:nth-child(2) > img{ vertical-align:middle; margin-left:15px;}


.onlyjesus_wrap .read_wrap .next_wrap{width:calc(100% - 30px); padding:10px 20px; border-bottom:1px solid #000;}
.onlyjesus_wrap .read_wrap .next_wrap > ul{margin-bottom:20px;} 
.onlyjesus_wrap .read_wrap .next_wrap > ul li{float:left;}
.onlyjesus_wrap .read_wrap .next_wrap > ul li:nth-child(1){font-size:13px; width:calc(100% - 70px); text-align:left; color:#737373; height:15px; overflow:hidden;}
.onlyjesus_wrap .read_wrap .next_wrap > ul li:nth-child(2){font-size:12px; width:70px; text-align:right; color:#372e29; font-weight:500;}
.onlyjesus_wrap .read_wrap .next_wrap > ul li:nth-child(2) > img{ vertical-align:middle; margin-left:15px;}
a.bnt{display:block; width:100px; height:39px; text-align:center; line-height:39px; color:#fff; font-size:12px; font-weight:400; text-decoration:none; background-color:#282d31; float:left; margin:20px 0 50px 0;}
.share{margin-top:25px;}
.share > li{float:left; margin-right:15px;}
.share > li > a{width:32px; height:32px; display:block;}
.share > li:nth-child(1) > a{background:url(../img/dptnews/tweet.png);}
.share > li:nth-child(2) > a{background:url(../img/dptnews/face.png);}
.share > li:nth-child(3) > a{background:url(../img/dptnews/google.png);}
.share > li:nth-child(4) > a{background:url(../img/dptnews/kakao.png);}

.share_wrap{width:calc(100% - 120px); height:32px; float:left;}



@media All and (max-width:768px){
	.onlyjesus_wrap .list_wrap > .box {width:calc(100% - 22px);}
}


@media All and (max-width:640px){
	#onlyjesus_topbanner{width:100%; background:#f3f1eb;   margin-top:123px; display:inline-block; height:269px;}
	
	ul.card{width:100%; max-width:354px; float:none; margin:0 auto 3% auto;}
	ul.card > li:nth-child(1){height:259px;}
	ul.card > li:nth-child(2){ background-color:#f4f4f4; text-align:center; padding:11% 5%;}
	ul.card > li:nth-child(2) > ul > li:nthc-child(1){font-size:20px;}
	ul.card > li:nth-child(2) > ul > li:nthc-child(2){font-size:15px;}
	ul.card3{margin-bottom:0;}
	
	#onlyjesus_topbanner .topbanner_wrap > .top_inner > ul > li:nth-child(1){font-size:17px; margin-bottom:15px; line-height:130%;}
    #onlyjesus_topbanner .topbanner_wrap > .top_inner > ul > li:nth-child(2){font-size:14px;}
}

@media All and (max-width:480px){
	#onlyjesus_topbanner .top_inner{width:50%; max-width:404px; margin:40px auto 0 auto;}
	.onlyjesus_wrap .list_wrap > .box .content > .cont{font-size:12px;}
}

@media All and (max-width:375px){
    
}