@charset "utf-8";
/* CSS Document */

#issue_topbanner{width:100%; background:url(../img/apply/top_back.jpg) center; margin-top:162px; display:inline-block; height:269px;}
#issue_topbanner .topbanner_wrap{width:calc(100% - 30px); max-width:1170px; margin:0 auto;}
#issue_topbanner .top_inner{width:calc(100% - 30px); max-width:570px; margin:36px auto 0 auto;}
#issue_topbanner .topbanner_wrap > .top_inner > img{float:left; vertical-align:middle; width:30%;}
#issue_topbanner .topbanner_wrap > .top_inner > ul{width:calc(70% - 15px); float:left; margin-left:15px; margin-top:10%;}
#issue_topbanner .topbanner_wrap > .top_inner > ul > li{text-align:center;}
#issue_topbanner .topbanner_wrap > .top_inner > ul > li:nth-child(1){font-size:20px; margin-bottom:15px; line-height:130%;}
#issue_topbanner .topbanner_wrap > .top_inner > ul > li:nth-child(2){font-size:17px;}


#location{width:100%; border-bottom:solid 1px #e2e2e2; }
.location_wrap{width:calc(100% - 30px); max-width:1170px; margin:0 auto; height:31px; border-left:solid 1px #e2e2e2; padding-top:15px;}
.location_wrap > ul > li{float:left; margin-left:2%; font-size:12px; color:#868686;}
.location_wrap > ul > li > img{ vertical-align:middle;}
.location_wrap > ul > li.nowpage{color:#000; font-weight:400;}

#weekntc{width:100%;  display:inline-block;}
#weekntc .weekntc_wrap{width:calc(100% - 30px); max-width:1170px; margin:0 auto; }


/*----------------- list page ------------------------------*/
.weekntc_wrap > .title{margin-top:94px; text-align:center;}
.weekntc_wrap > .title > li:nth-child(1){font-size:35px; font-weight:400; text-align:center; margin-bottom:15px;}
.weekntc_wrap > .title > li:nth-child(2){font-size:20px; text-align:center; font-weight:300;}

.weekntc_wrap .list_wrap{width:100%; margin-top:100px; overflow:auto; clear:both;}
.weekntc_wrap .list_wrap > .box { position:relative; width:calc(25% - 22px); margin:40px 10px; float:left; background-color:#FFF; border:1px solid #cecece; border-top:2px solid #000;/* 원하는 너비 */}
.weekntc_wrap .list_wrap > .box:before { content: ""; display: block; padding-top:113%; /* 1:1 비율 */}
.weekntc_wrap .list_wrap > .box .content { position: absolute; top:23px; right:0; bottom:0; left:16px; width:calc(100% - 32px); height:65%; overflow:hidden; }
.weekntc_wrap .list_wrap > .box .content > ul.title > li:nth-child(1){width:calc(100% - 73px); text-align:left; float:left; font-size:15px; font-weight:500;}
.weekntc_wrap .list_wrap > .box .content > ul.title > li:nth-child(2){width:73px; text-align:right; float:left; font-size:13px; color:#696969; font-weight:400}

.holder{ overflow:hidden; position:absolute; bottom:0; left:0px; width:100%; height:80%; z-index:1;}
.maximage { position:relative !important;}

/*----------------- read page ------------------------------*/
.weekntc_wrap .read_wrap ul.title_wrap{margin-top:85px;}
.weekntc_wrap .read_wrap ul.title_wrap > li{float:left; margin:20px 0;}
.weekntc_wrap .read_wrap ul.title_wrap > li:nth-child(1){width:calc(100% - 90px); text-align:left; font-size:17px; font-weight:500;}
.weekntc_wrap .read_wrap ul.title_wrap > li:nth-child(2){width:90px; text-align:right; font-size:15px; font-weight:400; color:#8d8d8d}
hr.hr1{ border:0; width:100%;  height:1px; background:#000; background-image:linear-gradient(to right, #000, #000, #000);}
hr.hr2{ border:0; width:100%;  height:2px; background:#000; background-image:linear-gradient(to right, #000, #000, #000);}


a.bnt{display:block; width:100px; height:39px; text-align:center; line-height:39px; color:#fff; font-size:12px; font-weight:400; text-decoration:none; background-color:#282d31; float:left; margin:20px 0 50px 0;}

.share{margin-top:25px;}
.share > li{float:left; margin-right:15px;}
.share > li > a{width:32px; height:32px; display:block;}
.share > li:nth-child(1) > a{background:url(../img/dptnews/tweet.png);}
.share > li:nth-child(2) > a{background:url(../img/dptnews/face.png);}
.share > li:nth-child(3) > a{background:url(../img/dptnews/google.png);}
.share > li:nth-child(4) > a{background:url(../img/dptnews/kakao.png);}

.share_wrap{width:calc(100% - 120px); height:32px; float:left;}

.movie{width:100%; max-width:980px; margin:30px auto 30px auto; display:block;}

@media All and (max-width:980px){
	.weekntc_wrap .list_wrap > .box {width:calc(33% - 22px);}
}


@media All and (max-width:768px){
	.weekntc_wrap .list_wrap > .box {width:calc(50% - 22px);}
}


@media All and (max-width:640px){
	#issue_topbanner{width:100%; background:url(../img/apply/top_back.jpg) center;   margin-top:123px; display:inline-block; height:269px;}
	
	ul.card{width:100%; max-width:354px; float:none; margin:0 auto 3% auto;}
	ul.card > li:nth-child(1){height:259px;}
	ul.card > li:nth-child(2){ background-color:#f4f4f4; text-align:center; padding:11% 5%;}
	ul.card > li:nth-child(2) > ul > li:nthc-child(1){font-size:20px;}
	ul.card > li:nth-child(2) > ul > li:nthc-child(2){font-size:15px;}
	ul.card3{margin-bottom:0;}
	
	#issue_topbanner .topbanner_wrap > .top_inner > ul > li:nth-child(1){font-size:17px; margin-bottom:15px; line-height:130%;}
    #issue_topbanner .topbanner_wrap > .top_inner > ul > li:nth-child(2){font-size:14px;}
}

@media All and (max-width:480px){
	.topbanner_wrap > .top_inner > img{margin-top:50px;}
	
	.weekntc_wrap .list_wrap > .box {width:calc(100% - 22px); margin:20px 10px;}
	.weekntc_wrap .list_wrap > .box:before { content: ""; display: block; padding-top:113%; /* 1:1 비율 */}
}

@media All and (max-width:375px){
    
}